@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    font-family: 'Gloria Hallelujah', cursive;
    margin:0rem;
    padding: 0rem;
    box-sizing: border-box;
}

:root{
    --primary-color:#FCD34D;
    --light:#FFFBEB;
    --dark:#FDE68A;
    --button:#FCD34D;

}

.navigation{
    background-color:var(--primary-color);
    color: black;
    padding:1rem;
}

.navigation .banana {
    text-align: center;
}

.image .minion-img { max-width:250px;
    display: block;
    margin: auto;
}

.container {
    width: 45%;
    margin: 20vh auto;
}

#txt-input {
    display: block;
    font-size: large;
    background-color:var(--light) ;
    height: 8rem;
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
    resize: none;
}

#btn-translate {
    padding: 1rem;
    background-color: var(--button);
    border: 2px solid yellow;
    margin: 1rem 0;
}

#output {
    background-color:var(--dark);
    padding: 1rem;
    height: 8rem;
    border: 1px solid black;
    margin-bottom:4rem ;
}

.footer{
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
}

.footer .center{
    text-align: center;
    padding:0 10rem;
}